/* The console container element */
#console {
	height: 100%;
	position:relative;
	margin: 0 auto;
	font-size: 15px;
}
/* The inner console element. */
.jqconsole {
	padding: 3px 3px 3px 8px;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.ui-layout-east {
	background-color: #111;
	padding: 0px;
}

/* The cursor. */
.jqconsole-cursor {
	background-color: rgb(151, 151, 151);
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
	background-color: rgb(206, 206, 206);
}

/* The current prompt text color */
.jqconsole-prompt {
	color: #222;
}
.jqconsole-prompt:before {
	content: "\003e";
}

/* The command history */
.jqconsole-old-prompt {
	color: #0b8800;
	font-weight: normal;
}
.jqconsole-old-prompt:before {
	content: "\003e";
}

/* The text color when in input mode. */
.jqconsole-input {
	color: #4fc3f7;
	font-weight: normal;
	background-size: 8px 12px;
	background-position: 2px 2px;
}
.jqconsole-input:before {
	content: "\003e";
}

/* Previously entered input. */
.jqconsole-old-input {
	color: #2196f3;
	font-weight: normal;
	background-size: 8px 12px;
	background-position: 2px 2px;
}
.jqconsole-old-input:before {
	content: "\003e";
}

/* The text color of the output. */
.console-default {
	color: #222;
}

.console-arrow {
	color: #7f7;
	margin-left: -9px;
}

.console-gray {
	color: gray;
}

.console-error {
	color: #F06;
}